{% load static i18n %}
<section class="page-section" id="contact" style='background-image: url({% static "img/map-image.png" %});'>
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">{% trans 'Contact Us' %}</h2>
			<h3 class="section-subheading text-muted">{% blocktrans %}DIL is located at 29, chareron street, Port-au-Prince, Haiti in  a two stages built facility of 600 m2. At this time, the company operates also at 29 Lafleur Ducheine street  for the administration and storage and the modern workshop in a hall of 200 m2.{% endblocktrans %}</h3>
		</div>
		<!-- * * * * * * * * * * * * * * *-->
		<!-- * * SB Forms Contact Form * *-->
		<!-- * * * * * * * * * * * * * * *-->
		<!-- This form is pre-integrated with SB Forms.-->
		<!-- To make this form functional, sign up at-->
		<!-- https://startbootstrap.com/solution/contact-forms-->
		<!-- to get an API token!-->
		<form id="contactForm" method="post" action="{% url 'contact' %}">
			{% csrf_token %}
			<div class="row align-items-stretch mb-5">
				<div class="col-md-6">
					<div class="form-group">
						<!-- Name input-->
						{{form.name}}
						<div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
					</div>
					<div class="form-group">
						<!-- Email address input-->
						{{form.email}}
						<div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
						<div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
					</div>
					<div class="form-group mb-md-0">
						<!-- Phone number input-->
						{{form.phone}}
						<div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group form-group-textarea mb-md-0">
						<!-- Message input-->
						{{form.message}}
						<div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
					</div>
				</div>
			</div>
			<!-- Submit success message-->
			<!---->
			<!-- This is what your users will see when the form-->
			<!-- has successfully submitted-->
			<div class="d-none" id="submitSuccessMessage">
				<div class="text-center text-white mb-3">
					<div class="fw-bolder">Form submission successful!</div>
					To activate this form, sign up at
					<br />
					<a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
				</div>
			</div>
			<!-- Submit error message-->
			<!---->
			<!-- This is what your users will see when there is-->
			<!-- an error submitting the form-->
			<div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
			<!-- Submit Button-->
			<div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">{% trans 'Send Message' %}</button></div>
		</form>
	</div>
</section>