<div class="row">
	<div class="col-md-10 offset-md-1 col-12">
		<div id="promotionCarousel" class="carousel slide carousel-fade" data-ride="carousel">
			<ol class="carousel-indicators">
				{% for pr in promotion_list %}
				<li data-target="#promotionCarousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %} aria-current="true" aria-label="Slide {{forloop.counter}}"></li>
				{% endfor %}
			</ol>
			<div class="carousel-inner">
				{% for pr in promotion_list %}
				<div class="carousel-item {% if forloop.first %}active{% endif %}">
					<img src="{% if pr.photo %}{{pr.photo.url}}{% endif %}" class="d-block w-100" alt="{{pr.name}}">
					<div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
						<h5>{{pr.name}}</h5>
						<p>{{pr.description}}</p>
					</div>
				</div>
				{% endfor %}
			</div>
			<button class="carousel-control-prev" type="button" data-target="#promotionCarousel" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">{% trans 'Previous' %}</span>
			</button>
			<button class="carousel-control-next" type="button" data-target="#promotionCarousel" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">{% trans 'Next' %}</span>
			</button>
		</div>
	</div>
</div>