{% load static %}
<section class="page-section bg-light" id="team">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">SUPPORT AND CUSTOMER SERVICE</h2>
			<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="team-member">
					<img class="mx-auto rounded-circle" src="{% static '/img/team/1.jpg' %}" alt="..." />
					<h4>Parveen Anand</h4>
					<p class="text-muted">Lead Designer</p>
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="team-member">
					<img class="mx-auto rounded-circle" src="{% static '/img/team/2.jpg' %}" alt="..." />
					<h4>Diana Petersen</h4>
					<p class="text-muted">Lead Marketer</p>
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="team-member">
					<img class="mx-auto rounded-circle" src="{% static '/img/team/3.jpg' %}" alt="..." />
					<h4>Larry Parker</h4>
					<p class="text-muted">Lead Developer</p>
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
					<a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Since its creation the company has been working in collaboration with a wide range of partners. It has more ten distributors across the company. For over 20 years, it has developped relationship with Redat SpA, Diesel Components, Central Turbos, Southeast Power Systems and is the representative Robert Bosch, Zexel, Stanadyne  in Haiti. Furthermore, the company is an active member of the worldwide diesel specialist association (ADS).</p></div>
		</div>
	</div>
</section>