//Theme

//Font
//@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Nunito");

//colors
$color1: #566bb2;
$color2: #292767;
$color3: #663b94;
$color4: #432a74;
$color5: #a2c0e5;
$color6: #66b5a9;

.bg-none {
  background: #f8f9fb;
}

.bg-gradient-purple {
  background: linear-gradient(270deg, #844d9e 0%, #673c94 100%);
}

.loto-table thead {
  background: #f2f4f7;

  border-radius: 5px;

  border: 5px solid #f2f4f7;
  color: #7f8d9f;
}

.bg-gradient-blue {
  background: linear-gradient(90deg, #6485f7 0%, #a2c1e6 100%);
}
.bg-icon-up{
  background: #f06999 !important;
}
.bg-icon-down{
  background: #a88ac0 !important;
}
.bg-icon-dollar-in{
  background: #3cc1c7 !important;
}
.bg-icon-dollar-down{
  background: #e8cc22  !important;
}
